$color-background-color: #3b4263;
$color-game-background-color: #f5f5f5;
$color-text-color-secondary: #374785;
$color-text-color-primary: #f76c6c;
$color-text-color-akcent: #f8e9a1;
$color-background-color-secondary: #24305e;
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

$top-margin: 1.5rem;
$left-padding: 2rem;

$color-white: #fff;

$primary-font: "Avenir", Helvetica, Arial, sans-serif;

$border-radius: 10px;

$title-font-size: 39pt;
$content-font-size: 3rem;
